/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    align-items: center;
}

.toolbar-banner{
    flex: 1 1 auto;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    padding: 30px, 10%;
}

.toolbar-item-heading {
    display:inline-block;
}

.toolbar-item-menu {
    border-radius: 50%;
    padding-top: 9px 25px;
    display:inline-block;
}

.toolbar-item-search{
    border-radius: 50%;
    padding-top: 9px 25px;
    display:inline-block;
    transition: all 0.3s ease 0;
}


.content {
    background-color: aqua;

}


.login-form {
    position: initial;
    justify-content: space-between;
    display: inline-block;
    align-self: center;
    margin: 10px;
    padding: 10px 40px;
    font-family: sans-serif; font-weight: bold; font-size: 17;
}

.login-card {
    background-color: #FFFFFF;
    height: 330px;
    width: 400px;
    position: absolute; left: 900px; top: 50px;
    
}

.form-group .form-control {
    width: 150%;
    justify-self: center;
    padding: -100px;
    margin: -15px;
}

.checkbox-button {
    display: inline;
    flex: 1 1 auto;
    justify-content: space-between;
    padding: -10px 40px;
    
}