<!-- Toolbar -->
<mat-toolbar color= "accent">

  <div class="toolbar-banner">

        <div class="toolbar-item-menu">
        <!---Menu icon-->
            <button mat-mini-fab color="accent" aria-label="Icon with menu icon"> <mat-icon> menu</mat-icon> </button>
        <!---Menu icon-->
        </div>  

        <div class="toolbar-item-heading">
            <span>Ylite Music</span>
        </div>
        
        <div class="toolbar-item-search">
          <!---Menu icon-->
              <button mat-mini-fab color="accent" aria-label="Icon with menu icon"> <mat-icon>search</mat-icon> </button>
          <!---Menu icon-->
        </div>





  </div>    
</mat-toolbar>

<div class="content" role="main"> 




</div>


<!--toolbar--> 




  <!-- Footer -->
  <footer>
     <div></div>

<router-outlet></router-outlet>