<div class=login-div>
    <mat-card class=login-card appearance="raised">
        <div class="login-form">
                
            <form action="">
                
                <div class=form-header>
                    <h2>Login</h2>
                </div>
                
                <div class="form-group">
                    <mat-form-field appearance="fill" color= "accent" ><mat-label>Enter Your Username</mat-label>
                    <input matInput id="userName" type="text" class="form-control" >    

                    </mat-form-field>
                </div>


                
                <div class="form-group">
                    <mat-form-field appearance="fill" color="accent"> <mat-label>Enter Password</mat-label>
                        <input matInput id="password" type="password" class="form-control" >
                        
                    </mat-form-field>
                </div>
            
            
                <div class=checkbox-button>
                    <div>
                        <div class=forgot-pass>
                        <a href="https://www.google.com"> Forgot your password?</a>
                        </div>    
                    
                    </div>

                



                    <br>
                    <div>
                        <button class="btn btn-primary" mat-raised-button color="primary">Login</button>
                    </div>
                </div>
            
            
            </form>
            <br>

            <div class="sub-form-footer">
                Don't have an account? <a href="https://www.google.com">Sign Up Now</a>
            </div>

        </div>
    </mat-card>

</div>