<div class=login-div>
<mat-card class=login-card>
    <div class="login-form">
        
    <form action="">
        
        <div class=form-header>
            <h2>Login</h2>
        </div>
        
        <div class="form-group">
            <mat-form-field appearance="fill">
                <input matInput placeholder="Your Username" id="userName" type="text" class="form-control">
              
            </mat-form-field>
        </div>
        
        
        <div class="form-group">
            <mat-form-field appearance="fill">
                <input matInput placeholder="Your Password" id="password" type="password" class="form-control">
                
            </mat-form-field>
        </div>
    
    
    
        <div class=checkbox-button>
            <div>
                <mat-checkbox color="primary">
                    Remember Me
                </mat-checkbox>
            </div>
            
            <div>
                <button class="btn btn-primary" mat-raised-button color="accent">Login</button>
            </div>
        </div>
    
    
    </form>
    
    </div>
</mat-card>

</div>