

.login-form {
    position: initial;
    justify-content: space-between;
    display: inline-block;
    align-self: center;
    margin: 10px;
    padding: 10px 40px;
    font-family: sans-serif; font-weight: bold; font-size: 17;
}

.login-card {
    background-color: #FFFFFF;
    height: 350px;
    width: 400px;
    position: absolute; left: 700px; top: 200px;
    
}

.form-group .form-control {
    width: 150%;
    justify-self: center;
    
}

.form-control {
    padding: 10px;
    margin: 0px;

}

.checkbox-button {
    display: inline;
    flex: 1 1 auto;
    justify-content: space-between;
    padding: -10px 40px;
    color: black;
    font-weight: lighter;
    
}

.form-header {
    color: black;
}